/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9;
    color: #333;
}
.showdataContainer{
    margin: 1.5vmax;
}
.productListTable {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

MuiDataGrid-root {
    border: none;
}

/* Header Styles */
.MuiDataGrid-columnHeader {
    background-color: #007acc;
    color: white;
    font-weight: bold;
}

/* Cell Styles */
.MuiDataGrid-cell {
    border-bottom: 1px solid #e0e0e0;
}

/* Specific Cell Styles */
.greenColor {
    color: #4caf50;
    font-weight: bold;
}

.redColor {
    color: #f44336;
    font-weight: bold;
}
.boldColor{
    color: black;
    font-weight: bolder;
}
.blueColor{
    color: blue;
    font-weight: bold;
}
/* Action Buttons */
.MuiButton-root {
    margin: 0 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.MuiButton-root:hover {
    background-color: rgba(0, 122, 204, 0.1);
    /* transform: scale(1.05); */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .productListTable {
        font-size: 12px; /* Adjust font size for mobile */
    }
    
    .MuiDataGrid-columnHeader {
        font-size: 14px; /* Smaller header font */
    }
    
    .MuiDataGrid-cell {
        padding: 8px; /* Adjust padding for mobile */
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.productListTable {
    animation: fadeIn 0.5s ease-in;
}
